<header>
  <nav>
      <section class="header-menu">
          <section class="nav-wrapper">
              <section class="logo"><a href="../index.html"><img src="../images/logo.png" alt="logo"></a></section>
              <ul class="menu" id="navMenu">
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="../html/service.html">Services</a></li>
                  <li><a href="../html/training.html">Training</a></li>
                  <li><a href="../html/about.html">About Us</a></li>
                  <li><a href="../html/enquiry.html">Enquiry</a></li>
              </ul>
              <div class="ham-menu" onclick="toggleHam(this)">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
              </div>
          </section>
      </section>
  </nav>
</header>